{{define "flash"}}
<script type="text/javascript">
    $(window).on('load', function() {
        $('#SettingsModal').modal('show');
    });
</script>
<div class="modal fade" id="SettingsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Project Settings</h5>
        </div>
        <div class="modal-body">
          <form>
          <div class="form-group row">
          <label for="staticEmail" class="col-sm-2 col-form-label">Message:</label>
          <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" id="Token" value="1234">
          </div>
          </div>
         </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>	
  {{end}}